<h1><%= @review.Apartment.find_by(id: apartment_id).address %></h1>
<strong>Submit a Review</strong><br>
<br>
<form method="post" action="/reviews" id="reviewform">
  Title: <input type="text" name="title" /><br>
  Content: <textarea name="content" form=reviewform></textarea><br>
  Rating (1-10): <input type="number" name="rating" min="1" max="10" /><br><br>
  <input type="submit" value="Submit Review" />
</form>