<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  
  <% if logged_in? %>
    <div id="navbar">
      <a href="/apartments">Apartments</a> | <a href="/reviews">Reviews</a> | <a href="/logout">Logout</a>
    </div><br>
  <% end %>

  <%= yield %>
  
</body>
</html>