<h1>Welcome to Hausty</h1>                                  

<a href="/apartments/new">Add an apartment</a><br><br>

<% Apartment.all.each do |apartment| %>
  <div>
    <h4><%= apartment.address %></h4>
    <a href="/apartments/<%=apartment.id%>">Reviews</a> (<%= apartment.reviews.count %>)
  </div>
<% end %>