<strong>List an Apartment</strong><br>
<br>
<form method="post" action="/apartments">
  Street Number: <input type="number" name="street_number" min="1" max="9999" /><br>
  Street Name: <input type="text" name="street_name" /><br>
  Apartment Number: <input type="text" name="apartment_number" /><br>
  City: <input type="text" name="city" /><br>
  State/Province: <input type="text" name="state" /><br>
  Country: <input type="text" name="country" /><br>
  Postal/Zip Code: <input type="text" name="postal_code" /><br><br>
  <input type="submit" value="List Apartment" />
</form>